BeautifulSoup==3.2.1
Flask==0.9
Flask-SQLAlchemy==0.16
Flask-Script==0.5.3
Flask-WTF==0.8.3
GnuPGInterface==0.3.2
Jinja2==2.6
Mako==0.7.3
MarkupSafe==0.15
PAM==0.4.2
Parsley==1.1
Pillow==2.0.0
PyYAML==3.10
SQLAlchemy==0.8.1
Twisted-Core==12.3.0
Twisted-Names==12.3.0
Twisted-Web==12.3.0
WTForms==1.0.4
Werkzeug==0.8.3
adium-theme-ubuntu==0.3.3
amqp==1.0.10
anyjson==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
beautifulsoup4==4.1.2
billiard==2.7.3.22
celery==3.0.16
chardet==2.0.1
configglue==1.0
configobj==4.7.2
coverage==3.6
debtagshw==0.1
decorator==3.3.3
defer==1.0.6
dirspec==4.2.0
distribute==0.6.39
duplicity==0.6.21
flask-mongoengine==0.7.0RC1
generateDS==2.9a
httplib2==0.7.7
ipython==0.13.2
kombu==2.5.8
lxml==3.1.0
matplotlib==1.2.1
mongoengine==0.8.0RC4
myapp==0.1dev
networkx==1.7
numpy==1.7.1
oauth==1.0.1
oauthlib==0.3.7
oneconf==0.3.3
pexpect==2.4
piston-mini-client==0.7.5
praw==2.0.15
protobuf==2.4.1
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pygobject==3.8.0
pygraphviz==1.1
pyinotify==0.9.3
pymongo==2.5.1
pyoai==2.4.4
pyparsing==1.5.7
pyserial==2.6
pysmbc==1.0.13
python-apt==0.8.8ubuntu6
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu1
pytz==2012c
pyxdg==0.25
reddit==1.5.1
reportlab==2.6
requests==1.1.0
rhythmbox-ubuntuone==4.2.0
scipy==0.11.0
selenium==2.25.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==2.6.2
six==1.2.0
software-center-aptd-plugins==0.0.0
system-service==0.1.6
ubuntuone-couch==0.3.0
ubuntuone-storage-protocol==4.2.0
unity-lens-photos==0.9
update-checker==0.5
virtualenv==1.9.1
wsgiref==0.1.2
xdiagnose==3.5.1
xmltodict==0.4.3
zope.interface==4.0.5
