{% extends "base.html" %}

{% block title %}OSF SciNet{% endblock %} <!-- end title block -->

{% block head %}
    <script>
        $( document ).ready(function() {
            $.get ("/scinet/raw", function(data) {
            $( ".articleCounter" ).html(data.numArticles);
        });
    });
    </script>
{% endblock %} <!-- end head block -->

{% block content %}
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/citelet/">Citelet</a></li>
            <li><a href="/scinet/faq/">FAQ</a></li>
            <li><a href="/scinet/leaderboard/">Leaderboard</a></li>
        </ul>
        <h3 class="text-muted">OSF SciNet</h3>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <hr />
            <h1>OSF SciNet</h1>
            <h2>Crowd-Sourcing the Scientific Citation Network</h2>
            <h3><button type="button" class="articleCounter btn btn-default btn-success"></button> articles contributed</h3>
            <hr />

            <h2><img src="/scinet/static/img/circle1.png" /> Problem</h2>
            <p class="lead">Scientific citations are frequently <span class="text-danger">constrained by terms-of-use or within proprietary systems</span> making it difficult to see connections in the literature.<!-- Services like PubMed have made research easier in the biomedical science domain, but <span class="text-danger">no such solution exists</span> that cuts across all areas of science in a fully open way.--></p>

            <h2><img src="/scinet/static/img/circle2.png" /> Solution</h2>
            <p class="lead">OSF SciNet uses the open source Citelet extension to <span class="text-danger">crowdsource a free, open, and comprehensive metadata dataset</span> of scientific citations and corresponding references to unlock the citation network. <!--This dataset will give the public <span class="text-danger">complete, free, and open access</span> to analyze and distribute scientific citation metadata without limitations imposed by proprietary services.--></p>

            <h2><img src="/scinet/static/img/circle3.png" /> Impact</h2>
            <p class="lead">The dataset generated through this project will make it easier to <span class="text-danger">see the connections in the scientific literature and to promote open science</span>.</p>

            <h2><img src="/scinet/static/img/circle4.png" /> Contribute</h2>
            <p class="lead">Add the <a href="/citelet">Citelet extension</a> to your Chrome browser and start contributing.</p>
            <p class="lead"><strong>Coming Soon:</strong> API for SciNet, Public release of the accumulating citation dataset, and more.</p>

            <hr />
        </div>
    </div>
{% endblock %} <!-- end content block -->
