{% extends "base.html" %}

{% block title %}OSF SciNet: Leaderboard{% endblock %} <!-- end title block -->

{% block head %}
<!-- request group modal calls -->
    <script>
        function submitNewGroupRequest(){
            var data = {};
            $("#requestNewGroup :input").each(function(){
                    data[$(this).attr("name")] = $(this).val();
            });
            $.ajax("/scinet/requestnewgroup/", {
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function(result){
                    $('#submitUniModal').modal('hide');
                    alert("Thank you for your submission! You will receive an email within a few days!");
                }
            });
        }
    </script>
{% endblock %} <!-- end head block -->

{% block content %}
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/citelet/">Citelet</a></li>
            <li><a href="/scinet/faq/">FAQ</a></li>
            <li class="active"><a href="/scinet/leaderboard/">Leaderboard</a></li>
        </ul>
        <h3 class="text-muted">OSF SciNet</h3>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <hr />
            <h1>OSF SciNet</h1>
            <h2>Open Science Leaderboard</h2>
            <hr />

            <!-- Mockup of leadership board -->
            <table class="table table-hover" style="text-align: left;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Organization</th>
                        <th>Total Submissions</th>
                    </tr>
                </thead>

                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ group['group_name'] }}</td>
                        <td>{{ group['submissions'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- Button trigger modal -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#submitUniModal">
            <h4 class="modal-title">Don't see your university, college, or organization?</h4>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="submitUniModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align: left;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Request that a new group be added</h4>
                            <br />
                            <p>Is your university, college, or organization not on the leaderboard?</p>
                            <p>Fill out the form and submit it for review and we will email you after reviewing your request!</p>
                        </div>
                        <div class="modal-body">
                            <form id="requestNewGroup" role="form">
                                <div class="form-group">
                                    <label for="inputNewGroupName">Name of requested group</label>
                                    <input type="text" name="new_group_name" class="form-control" id="inputNewGroupName" placeholder="Enter the desired university name">
                                </div>
                                <div class="form-group">
                                    <label for="inputGroupWebsite">Group website</label>
                                    <input type="text" name="new_group_website" class="form-control" id="inputGroupWebsite" placeholder="Enter link to desired universities home page">
                                </div>
                                <div class="form-group">
                                    <label for="inputSubmitterEmail">Your Email</label>
                                    <input type="text" name="submitter_email" class="form-control" id="inputSubmitterEmail" placeholder="Enter your email">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onClick="submitNewGroupRequest()">Submit Request</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
        </div>
    </div>
{% endblock %} <!-- end content block -->
