<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Harry Rybacki and Joshua Carp">
    <link rel="shortcut icon" href="../static/img/favicon.ico">

    <title>Crowd Scholar</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../static/js/html5shiv.js"></script>
      <script src="../static/js/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
      /* Custom container */
      .container {
        max-width: 730px;
      }
      /* Custom row  */
      .row {
        text-align: center;
      }
      .row h1 {
        font-size: 72px;
      }
      .row .btn {
        font-size: 21px;

      }
  </style>

  </head>

  <body>

    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/citelet/">Citelet</a></li>
          <li class="active"><a href="#">Crowd Scholar</a></li>
        </ul>
        <h3 class="text-muted">Crowd Scholar</h3>
      </div>

      <div class="row">
        <div class="col-lg-12">

          <hr />
          <h1>Crowd Scholar</h1>
          <h2>Crowd-Sourcing the Academic Citation Graph</h2>
          <hr />

          <p class="lead">
            Crowd Scholar provides users with a clean and easy-to-use web interface that gives users the power to enter article information manually, copy and paste it into a form, or programmatically with our API.       
          </p>

          <p>
            <strong>Note:</strong> Crowd Scholar is currently being redeveloped. Sorry for any inconvenience, please check back soon for updates!
          </p>

          <hr />
        </div>
      </div>

      <div class="footer">
        <p>&copy; Center for Open Science 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
