<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{title}} - Crowd Scholar</title>
        {% else %}
        <title>Crowd Scholar</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <header>
            <div class="container">
                <h1 class="logo">Crowd Scholar Menu</h1>
                <nav>
                    <ul class="menu">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>
           
        <div class="container">
        <!-- need to document this part -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </div>
        
    </body>
</html>
