<html>
    <head>
        {% if title %}
        <title>{{title}} - Crowd Scholar</title>
        {% else %}
        <title>Crowd Scholar</title>
        {% endif %}
    </head>

    <body>
        <div>Crowd Scholar: <a href="/index">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
