<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{title}} - Crowd Scholar</title>
        {% else %}
        <title>Crowd Scholar</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <header>
            <div class="container">
                <h1 class="logo">Crowd Scholar Menu</h1>
                <nav>
                    <ul class="menu">
                        <!-- <li><a href="/index">Home</a></li>
                        <li><a href="/login">Login</a></li> -->
                        <li><a href="/citebin">Cite Bin</a></li>
                    </ul>
                </nav>
            </div>
        </header>
           
        <div class="container">
        <!-- need to document this part -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </div>
        <!-- jQuery v 1.8.3 -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>       
        <!-- knockoutJS v 2.2.0-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
        <!-- knockout.Validation -->
        <script src="https://raw.github.com/ericmbarnard/Knockout-Validation/master/Src/knockout.validation.js"></script>
        <script src="{{ url_for('static', filename='js/citebin.js') }}"></script>
    </body>
</html>
