<!-- extends from base layout
     point of access for users to donate raw or specifc
     citation data for submission to crowd source DB -->
{% extends "base.html" %}

{% block content%}

<div class="jumbo">
    <h2>Cite Bin</h2>
    <!-- start knockoutjs script -->


    <h3>Welcome and thank you for your support!</h3>

    <p><h4>Would you like to
        <button data-bind="click: toggleRawEntry">paste</button>
        your citation -- or -- manually
        <button data-bind="click: toggleManualEntry">fill in</button>
        the fields? -- and -- do you have any
        <button data-bind="click: toggleReferenceEntry">references</button>
        ?
    </h4></p>

    <!-- FILL raw data -->
    <div data-bind="visible: isRawEntry">
        <p>Raw Citation:</p>
        <textarea data-bind="value: citation.raw_data" rows='5' cols='60' placeholder="Paste the raw citation data here"></textarea>
    </div>

    <!-- FILL individual fields -->
    <div data-bind="visible: isManualEntry">
        <!-- add author form -->
            <p>Author(s):</p>
            <p>
                <input data-bind="value: given" placeholder="Enter the author's first name here..." />
                <input data-bind="value: family" placeholder="Enter the author's last name here..." />
                <button data-bind="click: addAuthor">Add</button>
            </p>
        <ol data-bind="foreach: citation.authors">
            <li>
                <input data-bind="value: given" /> <input data-bind="value: family" />
                <a href="#" data-bind="click: $parent.removeAuthor">Delete author</a>
            </li>
        </ol>
        <!-- add other fields -->
        <p>Title:</p>
        <input data-bind="value: citation.title" placeholder="Enter the article's title here..." />

        <p>Journal:</p>
        <input data-bind="value: citation.container_title" placeholder="Enter the journal here..." />

        <p>Date:</p>
        <input data-bind="value: citation.date" placeholder="Enter the publication date here..." />

        <p>DOI:</p>
        <input data-bind="value: citation.DOI" placeholder="Enter the DOI here..." />
        
    </div>

    <!-- FILL references -->
    <div data-bind="visible: isReferenceEntry">
        <p>Reference(s):</p>
        <textarea data-bind="value: citation.references" rows='5' cols='60' placeholder="Paste the article references here..."></textarea>
    </div>

    <!-- submit and view resulting JSON -->
    <p><button data-bind="click: save, enable: citation.title() != '' || citation.raw_data() != ''">Submit citation</button></p>
    <!--
    <textarea data-bind='value: ko.toJSON(citation)' rows='5' cols='60'> </textarea>
    -->

</div>

{% endblock %}
